.DarkMode {
  background: #08002f;

  h1, p {
    margin: 0%;
    color: rgb(132, 209, 16);
  }

  .btn {
    border: 4px solid rgb(132, 209, 16);
    color: rgb(132, 209, 16);
  }
}

.LightMode {
  background: #eeeeee;

  h1, p {
    margin: 0%;
    color: #08002f;
  }

  .btn {
    border: 4px solid rgb(8, 0, 47);
    color: rgb(8, 0, 47);
  }
}

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lobster', cursive;
  font-weight: 500;
  z-index: 1;
  
  h1 {
      font-size: 24px;
  }

  p {
      font-size: 14px;
  }

  @media only screen and (max-width: 540px) {
    padding: 0px 16px;

    h1 {
      font-size: 20px;
    } 
  
    p {
      font-size: 12px;
    }
  }
}

.header__title{
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media only screen and (max-width: 540px) {
    margin-left: 14px;
  }
}

.btn {
  margin-right: 60px;
  height: 36px;
  padding: 4px 8px;
  border-radius: 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  background: none;

  @media only screen and (max-width: 540px) {    
    width: 100px;
    padding: 4px 4px;
    font-size: 8px;
    margin-right: 36px;
  }
}